/*-------------------------------------------------------*\
    Mobile First Grid
/*-------------------------------------------------------*/

.row {
    max-width: $grid-width;
    margin: 0 auto;
    padding: 0 1em;
    @include clearfix();
}

.col {
    margin-bottom: 1em;
    float: left;
    width: 100%;
    position: relative;
    padding: 0 $gutter-width;
}

.col:last-child {
    float: right;
}


/* Small Grid 
/*-------------------------------------------------------*/
@media only screen {
    @for $i from 1 through $columns {
        .small-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .small-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .small-pull-#{$i} {
            right: column($i);
        }
    }
    .small-centered {
        margin: 0 auto;
    }
}

/* Medium Grid 
/*-------------------------------------------------------*/
@include break-at($medium-break) {
    @for $i from 1 through $columns {
        .medium-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .medium-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .medium-pull-#{$i} {
            right: column($i);
        }
    }
    .medium-centered {
        margin: 0 auto;
    }
}

/* Large Grid 
/*-------------------------------------------------------*/
@include break-at($large-break) {
    @for $i from 1 through $columns {
        .large-#{$i} {
            width: column($i);
        }
    }
    @for $i from 1 through $columns {
        .large-push-#{$i} {
            left: column($i);
        }
    }
    @for $i from 1 through $columns {
        .large-pull-#{$i} {
            right: column($i);
        }
    }
    .large-centered {
        margin: 0 auto;
    }
}