/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/
* {
    box-sizing: border-box;
}
 
body {

    line-height: 1.5;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #fff;
    color: $secondary-color;
    font-size: $base-font-size;

}
img {

    max-width: 100%;
    vertical-align: middle;

}
