/*-------------------------------------------------------*\
    Lists
/*-------------------------------------------------------*/
nav ul
{
	list-style: none;
}
ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: em(10px);
}

ol ul, ul ul {
    padding: em(5px) 0 0 em(15px);
    list-style: circle inside;
}

ul ol, ol ol, {
   padding: em(5px) 0 0 em(15px);
}

li {
    margin-bottom: em(8px);
}